.card {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  width: 200px;
  height: 250px;
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding-top: 12px;
}

.card-picture {
  height: 175px;
  width: 175px;
  display: grid;
  justify-self: center;
  border-radius: 8px;
  overflow: hidden;
}

.card-image {
  height: 175px;
  width: 175px;
}

.album-description {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: .8rem;
  width: 185px;
  padding-top: 8px;
}

.album-year {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  padding-bottom: 10px;
}

.card:hover {
  cursor: pointer;
}